---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const showNewBadge = (date: Date) => {
  const today = new Date();
  const weekInMilliseconds = 1000 * 60 * 60 * 24 * 7;

  return today.getTime() - date.getTime() < weekInMilliseconds;
};
---

<BaseLayout>
  <section class="max-w-screen-md mx-auto px-4">
    <header class="my-8 mb-6">
      <h1
        class="uppercase text-ronini-purple-700 dark:text-turquoise-500 text-3xl"
      >
        Oh, for fox sake!
      </h1>
      <h2 class="text-lg text-gray-600 dark:text-gray-400">
        A blog about the adventures in web development and design.
      </h2>
    </header>

    <div class="padding-8">
      <ul>
        {
          posts.map((post) => (
            <li class="mt-2 transition-transform duration-300 ease-out transform hover:translate-x-1 focus-within:translate-x-1">
              <a
                href={`/blog/${post.slug}/`}
                class="flex gap-2 items-baseline group"
              >
                {showNewBadge(post.data.pubDate) && (
                  <span class="text-xs bg-ronini-purple-700 dark:bg-turquoise-500 text-gray-100 px-2 py-1 rounded">
                    New
                  </span>
                )}
                <h2 class="font-medium text-gray-800 dark:text-gray-200 transition-all duration-300 ease-out group-hover:text-ronini-purple-700 dark:group-hover:text-turquoise-500 group-focus:text-ronini-purple-700 dark:group-focus:text-turquoise-500">
                  {post.data.title}
                </h2>
              </a>
              <p class="text-xs text-gray-600 dark:text-gray-400">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
