---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav
    class="transition-colors duration-300 ease-out bg-gray-100 dark:bg-rosePine-base flex justify-between p-4 text-ronini-purple-700 dark:text-turquoise-500"
  >
    <h2 class="text-2xl">
      <a href="/"> RV </a>
    </h2>
    <div class="flex gap-4 items-center">
      <ThemeIcon />
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
