<header class="name-container">
  <div>
    <h1
      class="name md:flex md:justify-center md:items-center uppercase tracking-[0.15rem] text-[4rem] leading-[4.55rem] text-center"
    >
      <span class="neon text-ronini-purple-700 dark:text-primary-light">
        Ron
      </span>
      <span
        class="middle md:max-w-0 md:opacity-0 md:overflow-hidden md:whitespace-nowrap text-gray-900 dark:text-gray-50"
      >
        nie Villar
      </span>
      <span class="neon text-ronini-purple-700 dark:text-primary-light">
        ini
      </span>
    </h1>
    <h2
      class="subtitle text-2xl text-gray-700 dark:text-gray-200 text-center md:opacity-0"
    >
      T Shaped Developer | Frontend Specialist | Vue.js Enthusiast
    </h2>
    <hr class="w-40 my-3 mx-auto border border-ronini-purple-700" />
  </div>
</header>
<style>
  .name-container {
    --purple-dark: theme(colors.ronini-purple.800);
  }
  .neon {
    animation: fade-in 1s forwards;
  }
  html.dark .neon {
    animation: glow 3s forwards;
  }

  @media screen(md) {
    .middle {
      animation-name: grow;
      animation-duration: 2s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }

    .subtitle {
      animation-name: fade-in;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 3s;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes grow {
    from {
      max-width: 0;
    }

    to {
      max-width: 100vw;
      overflow: show;
      opacity: 1;
    }
  }

  @keyframes glow {
    0% {
      color: black;
      text-shadow: none;
    }

    15% {
      text-shadow:
        0.25rem 0 0.5rem var(--purple-dark),
        -0.25rem 0 0.5rem var(--purple-dark);
    }

    20% {
      text-shadow: none;
    }

    25% {
      text-shadow:
        0.25rem 0 0.5rem var(--purple-dark),
        -0.25rem 0 0.5rem var(--purple-dark);
    }

    30% {
      text-shadow: none;
    }

    100% {
      text-shadow:
        0.25rem 0 0.5rem var(--purple-dark),
        -0.25rem 0 0.5rem var(--purple-dark),
        0 0 3rem theme(colors.ronini-purple.700);
    }
  }
</style>
