---
import BaseLayout from "../layouts/BaseLayout.astro";
import UnderConstruction from "../components/UnderConstruction.astro";
---

<BaseLayout>
	<main class="mt-24 grid place-items-center">
		<UnderConstruction />
	</main>
</BaseLayout>
