<div class="max-w-screen-md">
	<h1 class="text-center text-5xl">🚧 Under Construction 🚧</h1>
	<p class="mt-2 text-xl">
		I'm combating my perfectionism by intentionally pushing out this
		site before I've gotten to absolutely everything that I want to.
		With that in mind, please bare with me as some parts of the site
		may be incomplete or not fully functional. I'm working on it!
	</p>
</div>
